h1 {
    font-family: QuillPerpendicularRegular;
}
p {
    font-family: QuillPerpendicularRegular;
}
a {
    font-family: QuillPerpendicularRegular;
}
div {
    font-family: QuillPerpendicularRegular;
}
h4 {
    font-family: QuillPerpendicularRegular;
}
h5 {
    font-family: QuillPerpendicularRegular;
}
nav {
    background-color:grey;
    color: white;
}
a:link{
    color:rgb(171, 124, 5);
}
a:visited{
    color:rgb(171, 124, 5);
}
a:hover{
    color: white;
}
.adjustment {
    padding: 10px;
}