h1 {
    font-family: QuillPerpendicularRegular;
}
p {
    font-family: QuillPerpendicularRegular;
}
a {
    font-family: QuillPerpendicularRegular;
}
div {
    font-family: QuillPerpendicularRegular;
}